.box {
  width: 1450px;
  margin: 0 auto 0 auto;
  padding: 30px;
  background-color: rgb(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 20px;
}

.name {
  width: 1105px;
  margin: 0 auto;
}

.wrap {
  margin: 10px auto 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

textarea {
  width: 1000px;
  height: 100px;
  resize: none;
  font-size: 20px;
}

.wrap > button {
  width: 100px;
  height: 105px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* 성빈 profile~~~*/

.profile {
  width: 1105px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px; /* 댓글과 댓글 사이의 간격을 줍니다 */
}

.commentBox {
  display: flex;
  margin-bottom: 50px;
}

.profileCircle {
  width: 130px;
  height: 130px;
  border: 7px solid rgb(162, 159, 159);
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
  text-align: center;
  line-height: 125px; /* 나중에 처리 */
  font-size: 30px;
}

.profileBox {
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  word-break: break-all;
  flex: 1;
  position: relative;
}

.timeStamp {
  margin: 20px;
  font-size: 15px;
}

p {
  font-size: 20px;
  width: 80%;
  margin: 20px;
  line-height: 30px;
}

.profileEdit {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.heart_image {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  right: 10px;
  top: 10px;
  position: absolute;
}

.input_css {
  width: 170px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #ffebcd;
  text-indent: 5px;
}
