/* font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.box {
  width: 1450px;
  margin: 0 auto 0 auto;
  padding: 30px;
  background-color: rgb(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 20px;
}

.name {
  width: 1105px;
  margin: 0 auto;
}

.wrap {
  margin: 10px auto 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

textarea {
  width: 1000px;
  height: 100px;
  resize: none;
  font-size: 20px;
}

.wrap > button {
  width: 100px;
  height: 100px;
  background-color: #dd7e5f;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #999;
  border-left: none;
}

.profile {
  width: 1105px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px;
}

.commentBox {
  display: flex;
  margin-bottom: 50px;
}

.profileCircle {
  width: 120px;
  height: 120px;
  border: 1px solid rgb(162, 159, 159);
  border-radius: 50%;
  margin-right: 30px;
  text-align: center;
  font-size: 30px;
  background: url(https://unsplash.it/120/?random) no-repeat center center;
}

.profileBox {
  border: 1.5px dashed #dd7e5f;
  border-radius: 10px;
  word-break: break-all;
  flex: 1;
  position: relative;
}

.nickname {
  margin: 20px 0 0 20px;
  width: 145px;
  font-size: 20px;
}

.timeStamp {
  margin: 20px;
  font-size: 15px;
  color: #999;
}

p {
  font-size: 20px;
  width: 80%;
  margin: 20px;
  line-height: 30px;
}

.profileEdit {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.heart_image {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  right: 20px;
  top: 20px;
  position: absolute;
}

.input_css,
#comment {
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #ffebcd;
  text-indent: 8px;
  font-family: "IBM Plex Sans KR", sans-serif;
} /* 디자인 공통 */

.input_css {
  width: 170px;
  height: 20px;
}

#comment {
  border-radius: 10px 0 0 10px;
  padding-top: 5px;
  box-sizing: border-box;
}

.btn_design {
  width: 40px;
  height: 30px;
  border: none;
  background-color: #dd7e5f;
  border-radius: 5px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}
