/* 타이틀 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Hahmlet:wght@100..900&family=Jua&family=Nanum+Pen+Script&family=Noto+Serif+KR&family=Song+Myung&display=swap");

/* 영화 줄거리 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Hahmlet:wght@100..900&family=Jua&family=Nanum+Pen+Script&family=Noto+Serif+KR&family=Reddit+Mono:wght@200..900&family=Song+Myung&display=swap");

/* 폼태그 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gowun+Dodum&family=Hahmlet:wght@100..900&family=Jua&family=Nanum+Pen+Script&family=Noto+Serif+KR&family=Reddit+Mono:wght@200..900&family=Song+Myung&display=swap");

a {
  color: #000;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.header {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 100px;
  -webkit-text-stroke: 3px black;
  color: beige;
  text-align: center;
  height: 200px;
  padding-top: 100px;

  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

#lang_btn {
  position: absolute;
  top: 150px;
  right: 50px;
}

form {
  text-align: center;
  margin: 50px auto;

  font-family: "Do Hyeon", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 30px;
  justify-content: center;
  display: flex;
}

button {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  height: 30px;
  background-color: black;
  color: beige;
  cursor: pointer;
}

span {
  color: beige;
  -webkit-text-stroke: 1px black;
}

#search {
  border: 0;
  height: 30px;
  font-size: 15px;
  border-radius: 15px;
  outline: none;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  margin: 0 10px;
}

section {
  display: grid;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.cardBox {
  width: 350px;
  height: 550px;
  margin: 50px auto;
  perspective: 1100px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card_content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 80px;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

.cardBox:hover .card_content {
  bottom: 0;
}

.cardBox > img {
  width: 250px;
  height: auto;
}

.flip {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: blanchedalmond;
  border: 3px solid rgb(48, 46, 43);
  border-radius: 10px;
  box-sizing: border-box;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  padding-top: 20px;
}

::-webkit-scrollbar {
  display: block;
  height: 10px;
  padding-right: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(250, 160, 100, 0.852);
  height: 20px;
}

h3 {
  font-size: 25px;
  margin-top: 5px;
}

p {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  padding: 10px 20px;
}
